{% extends "layout.html" %}

{% block body %}

<head>
	<title>
		Clothero Closet Laundry Settings
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylespages.css') }}">
</head>

<main>
	<h1>
		Edit Your "{{piece}}" Laundry Settings
	</h1>
	{% if clothes %}
<ul>
		{% for clothe, traits in clothes.items() %}
<li class="writing">
{% if clothe in nowashclothe %}
			ID: {{clothe}} | Color: {{traits[0]}} | Material: {{traits[1]}} | Professionalism: {{traits[2]}}
	<form method="POST" action="/settings/laundry/{{section}}/{{piece}}"  style="display:inline;">
<input type="hidden" name="clothe" value="{{clothe}}-Wash"> 
<button type="submit" class="addbtn">
Remove
</button>
	</form>
{% else %} 
ID: {{clothe}} | Color: {{traits[0]}} | Material: {{traits[1]}} | Professionalism: {{traits[2]}}

<form method="POST" action="/settings/laundry/{{section}}/{{piece}}"  style="display:inline;">
<input type="hidden" name="clothe" value="{{clothe}}-NoWash"> 
<button type="submit" class="addbtn">
Add
</button>
	</form>
{% endif %} 		
	</li>
<img src="/static/clothes/{{traits[3]}}" width="400">

		{% endfor %}
<p class="notif"> "Adding" keeps that piece of clothing in circulation after it has been generated. "Removing" removes that feature, all clothes by default don't have that feature. </p>
	{% else %}
	<h2>
		Your closet has no pieces yet.
	</h2>
	{% endif %}
	<p>
		Go somewhere else
	</p>
<div class="secrow">
	<a href="/settings" class="button end">Settings</a>
	<a href="/" class="button end">Home</a>
</div>
<div class="secrow">
	<a href="/gen" class="button end">Generate Outfit </a>
	<a href="/closet" class="button end">Closet</a>
</div>
<div class="secrow">
	<a href="/laundry" class="button end">Laundry</a>
	<a href="/search" class="button end">Search</a>
</div>
</main>
{% endblock %}